ui_*h
moc_*cpp
*.o
*.pro.user
/snippy
*.autosave
Makefile
/Makefile.*
qrc_resources.cpp
/build
/release
/.kdev4
.qmake.stash
moc_predefs.h
*_autogen
cmake_install.cmake
.ninja*
CMakeFiles
CMakeCache.txt
build-*
/rust/target/
.cache
compile_commands.json
